  .center1 {
  position: absolute;
  margin: auto;
  top: 10%;
  left: 77%;
  /*transform: translate(-100%, -10%);*/
}

.menu {
  width: 40px;
  height: 40px;
}
 .fav{
      width: 150%;
      position: fixed;
      left: -280%;
      width: 70%;
      transform: translate(-410%, 50%);
      image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
    }
    /*.middle{
      position: absolute;
      top:5%;
      right: 10%;
      transform: translateY(10%);
    }*/
    .btn{
      position: relative;
      display: block;
      color: white;
      font-size:1em;
      text-decoration:none;
      margin:-100px 0;
      border: 2px;
      /*solid #fff*/
      padding: 10px 50px;
      text-transform: uppercase;
      overflow: hidden;
      transition: 1s all ease;
      font-family: "Lucida Console", Monaco, monospace;
    }

    .btn::before{
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      /*transform: translate(-50%, -50%);*/
      z-index:-1;
      transition: all 0.6s ease;
    }
    .btn1::before{
      width:0;
      height: 100%;
    }
    .btn:hover::before{
      width: 500%;
    }

    .btn2::before{
      background: #00b894;
      width:100%;
      height:0;
    }

    .btn2::before{
      height: 100%;
    }
    .btn3::before{

      background: #0984e3;
      width:100%;
      height:0;
      transform: translate(-50%, -50%) rotate(45deg);
    }
    .btn3:hover::before{
      height:380%;
    }
    .btn4::before{
      background: #d63031;
      width:100%;
      height:0;
      transform: translate(-50%, -50%) rotate(-45deg);
    }
    .btn4:hover::before{
      height:380%;
    }
    .btn2, .btn3, .btn4 {display:inline-block;}

.item {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 40px;
  height: 40px;
  background-color: white;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
 cursor: url(img/mandelbrotcursornew.png), auto;
  text-align: center;
  line-height: 40px;
  color: black;
}

/*html { overflow-y: hidden; overflow-x: hidden;}*/
a:hover {
    cursor: url(img/mandelbrotcursornew.png), auto;
}
html{
  min-height: 100%;
  margin:0;
  padding:0;
  /*overflow: hidden;*/
  cursor: url(img/mandelbrotcursor12.png), pointer;
}
  html:hover {
    cursor: url(img/mandelbrotcursor12.png), pointer;
}
.canvas1 {
  display: block;
  width: 100vw;
  height: 100vh;
/*  cursor: pointer;*/
  position:absolute;
  top:0px;
  z-index: -1;
  left:0px;
}
.canvas1:hover {cursor: url(img/mandelbrotcursornew.png), pointer;}
body {
  background: #24252D;
  color: #CACACC;
  font-family: 'Roboto Mono', monospace;
  font-size: 1em;
  display: flex;
  justify-content: center;
}
.container {
  max-width: 700px;
}
h1 {
  font-weight: 400;
  margin: 0;
  font-size: 3em;
}
h2 {
  color: #696A6F;
  font-weight: 300;
  margin: 0 0 .5em 0;
}
.links {
  margin: 0 0 1.5em 0;
}
.links a {
  color: #CACACC;
  margin: auto 1em auto 0;
}
.intro {
  margin: 0 0 2em 0;
}
.intro a {
  color: #E9BC3F;
  text-decoration: none;
}
.intro .title {
  cursor: url(img/mandelbrotcursornew.png), pointer;
  font-size: 2em;
  font-weight: 700;
  margin: .8em 0;
}
.intro .title:before {
  content: '[+] ';
}
.intro .exp {
  display: none;
}
.intro ul {
  list-style-type: none;
  padding: 0;
}
.intro ul li {
  margin: 2em 0;
}
.changelog {
  margin: 0 0 2em 0;
}
.changelog a {
  color: #E9BC3F;
  text-decoration: none;
}
.changelog .title {
  cursor: url(img/mandelbrotcursornew.png), pointer;
  font-size: 1.5em;
  font-weight: 700;
  margin: .8em 0;
}
.changelog .title:before {
  content: '[+] ';
}
.changelog .exp {
  display: none;
}
.changelog ul {
  list-style-type: none;
  padding: 0;
}
.changelog ul li {
  margin: 2em 0;
}
.changelog li {
  display: flex;
  justify-content: flex-start;
}
.changelog li .left {
  color: #696A6F;
  font-weight: 300;
  min-width: 200px;
}
.changelog li .left:before {
  content: '';
  display: inline-block;
  width: .7em;
  height: .7em;
  border-radius: 100%;
  margin: 0 2em 0 0;
}
.changelog li .desc {
  display: flex;
  flex-direction: column;
}
.changelog li .desc .info {
  visibility: hidden;
  max-height: 0;
  transition: visibility 0s, max-height 0.5s linear;
}
.changelog li .desc:hover .info {
  visibility: visible;
  max-height: 100px;
  transition: max-height 0.5s linear;
}
.changelog .loading {
  animation: blinker 1s linear infinite;
  margin: 1em 0 0 0;
}
.changelog .loading.hide {
  display: none;
}
.updates {
  margin: 0 0 2em 0;
}
.updates a {
  color: #E9BC3F;
  text-decoration: none;
}
.updates .title {
 cursor: url(img/mandelbrotcursornew.png), pointer;
  font-size: 2em;
  font-weight: 700;
  margin: .8em 0;
}
.updates .title:before {
  content: '[+] ';
}
.updates .exp {
  display: none;
}
.updates ul {
  list-style-type: none;
  padding: 0;
}
.updates ul li {
  margin: 2em 0;
}
.updates .loading {
  animation: blinker 1s linear infinite;
  margin: 1em 0 0 0;
}
.updates .loading.hide {
  display: none;
}
.bio {
  margin: 0 0 2em 0;
}
.bio a {
  color: #E9BC3F;
  text-decoration: none;
}
.bio .title {
  cursor: url(img/mandelbrotcursornew.png), pointer;
  font-size: 1.5em;
  font-weight: 700;
  margin: .8em 0;
}
.bio .title:before {
  content: '[+] ';
}
.bio .exp {
  display: none;
}
.bio ul {
  list-style-type: none;
  padding: 0;
}
.bio ul li {
  margin: 2em 0;
}
.bio .exp {
  background: #2f313b;
  line-height: 1.8em;
  margin: 2em 0 0 0;
  padding: 0.8em 1.2em;
}
.expand .title {
  cursor: url(img/mandelbrotcursor12.png), pointer;
}
.expand .title:before {
  content: '[-] ';
}
.expand .exp {
  display: block;
}
@keyframes blinker {
  50% {
    opacity: 0.0;
  }
}
.end {
  margin: 0 0 2em 0;
}
.end a {
  color: #E9BC3F;
  text-decoration: none;
}
.end .title {
  cursor: url(img/mandelbrotcursornew.png), pointer;
  font-size: 1.2em;
  font-weight: 700;
  margin: .8em 0;
}
.end .title:before {
  content: '[+] ';
}
.end .exp {
  display: none;
}
.end ul {
  list-style-type: none;
  padding: 0;
}
.end ul li {
  margin: 2em 0;
}
.job .left:before {
  background: #24D05A;
}
.job em {
  color: #24D05A;
  font-style: normal;
}
.event .left:before {
  background: #EB4888;
}
.event em {
  color: #EB4888;
  font-style: normal;
}
.fun .left:before {
  background: #10A2F5;
}
.fun em {
  color: #10A2F5;
  font-style: normal;
}
.flash {
  animation: 1s flash infinite;
}
@keyframes flash {
  0% {
    text-shadow: 0px 0px 5px #cacacc;
  }
  50% {
    text-shadow: none;
  }
  100% {
    text-shadow: 0px 0px 5px #cacacc;
  }
}
@media (max-width: 600px) {
  .changelog li .left {
    min-width: 160px;
  }
  .links a {
    margin: auto 1.5em auto 0;
  }
}
